<p id="notice"><%= notice %></p>

<div data-role="header">
	<h1><%= @contact.first_name + " " + @contact.last_name %></h1>
	<%= link_to 'Home', contacts_path, "class" => "ui-btn-right" %>
</div>

<div data-role="content">
<p>
  <b>First name:</b>
  <%= @contact.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contact.last_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @contact.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Address1:</b>
  <%= @contact.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @contact.address2 %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @contact.zipcode %>
</p>

<p>
  <b>State:</b>
  <%= @contact.state %>
</p>

</div>

