<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @contact.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contact.last_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @contact.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Address1:</b>
  <%= @contact.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @contact.address2 %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @contact.zipcode %>
</p>

<p>
  <b>State:</b>
  <%= @contact.state %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
